<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kashmir</title>
    <link rel="stylesheet" href="./css/stylecomp.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <h2>Table of Content</h2>
        <div class="links">
            <a class="link" href="#about"><i class="ri-arrow-right-s-line icons"></i>About</a>
            <a class="link" href="#culture"><i class="ri-arrow-right-s-line icons"></i>Cultural</a>
            <a class="link" href="#recipe"><i class="ri-arrow-right-s-line icons"></i>Recipes</a>
            <a class="link" href="#music"><i class="ri-arrow-right-s-line icons"></i>Music</a>
            <a class="link" href="#dance"><i class="ri-arrow-right-s-line icons"></i>Dance</a>
            <a class="link" href="#dress"><i class="ri-arrow-right-s-line icons"></i>Dressing</a>
            <a class="link" href="#lang"><i class="ri-arrow-right-s-line icons"></i>Language</a>
        </div>
    </div>
    <div class="main">
        <h2 class="title">Jammu & Kashmir</h2>
        <div class="contentData">
            <div id="about">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptates natus! Non repellendus aspernatur adipisci autem, expedita est amet cupiditate culpa illum inventore earum ratione, saepe quo praesentium odit tempora similique incidunt obcaecati voluptatibus. Eaque quod neque nihil tenetur non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque praesentium excepturi enim eveniet officia delectus explicabo qui quidem minima repudiandae, dolorum amet minus accusamus maxime, ipsa totam voluptas fuga inventore eos? Sequi accusamus cum, expedita veritatis fugit dolore corrupti incidunt ab voluptates, ipsam eos! Nobis nulla voluptates ducimus tempora fugiat iste blanditiis, veniam recusandae.</p>
            </div>
            <div id="culture">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptates natus! Non repellendus aspernatur adipisci autem, expedita est amet cupiditate culpa illum inventore earum ratione, saepe quo praesentium odit tempora similique incidunt obcaecati voluptatibus. Eaque quod neque nihil tenetur non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque praesentium excepturi enim eveniet officia delectus explicabo qui quidem minima repudiandae, dolorum amet minus accusamus maxime, ipsa totam voluptas fuga inventore eos? Sequi accusamus cum, expedita veritatis fugit dolore corrupti incidunt ab voluptates, ipsam eos! Nobis nulla voluptates ducimus tempora fugiat iste blanditiis, veniam recusandae.</p>
            </div>
            <div id="recipe">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptates natus! Non repellendus aspernatur adipisci autem, expedita est amet cupiditate culpa illum inventore earum ratione, saepe quo praesentium odit tempora similique incidunt obcaecati voluptatibus. Eaque quod neque nihil tenetur non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque praesentium excepturi enim eveniet officia delectus explicabo qui quidem minima repudiandae, dolorum amet minus accusamus maxime, ipsa totam voluptas fuga inventore eos? Sequi accusamus cum, expedita veritatis fugit dolore corrupti incidunt ab voluptates, ipsam eos! Nobis nulla voluptates ducimus tempora fugiat iste blanditiis, veniam recusandae.</p>
            </div>
            <div id="music">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptates natus! Non repellendus aspernatur adipisci autem, expedita est amet cupiditate culpa illum inventore earum ratione, saepe quo praesentium odit tempora similique incidunt obcaecati voluptatibus. Eaque quod neque nihil tenetur non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque praesentium excepturi enim eveniet officia delectus explicabo qui quidem minima repudiandae, dolorum amet minus accusamus maxime, ipsa totam voluptas fuga inventore eos? Sequi accusamus cum, expedita veritatis fugit dolore corrupti incidunt ab voluptates, ipsam eos! Nobis nulla voluptates ducimus tempora fugiat iste blanditiis, veniam recusandae.</p>
            </div>
            <div id="dance">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptates natus! Non repellendus aspernatur adipisci autem, expedita est amet cupiditate culpa illum inventore earum ratione, saepe quo praesentium odit tempora similique incidunt obcaecati voluptatibus. Eaque quod neque nihil tenetur non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque praesentium excepturi enim eveniet officia delectus explicabo qui quidem minima repudiandae, dolorum amet minus accusamus maxime, ipsa totam voluptas fuga inventore eos? Sequi accusamus cum, expedita veritatis fugit dolore corrupti incidunt ab voluptates, ipsam eos! Nobis nulla voluptates ducimus tempora fugiat iste blanditiis, veniam recusandae.</p>
            </div>
            <div id="dress">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptates natus! Non repellendus aspernatur adipisci autem, expedita est amet cupiditate culpa illum inventore earum ratione, saepe quo praesentium odit tempora similique incidunt obcaecati voluptatibus. Eaque quod neque nihil tenetur non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque praesentium excepturi enim eveniet officia delectus explicabo qui quidem minima repudiandae, dolorum amet minus accusamus maxime, ipsa totam voluptas fuga inventore eos? Sequi accusamus cum, expedita veritatis fugit dolore corrupti incidunt ab voluptates, ipsam eos! Nobis nulla voluptates ducimus tempora fugiat iste blanditiis, veniam recusandae.</p>
            </div>
            <div id="lang">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, voluptates natus! Non repellendus aspernatur adipisci autem, expedita est amet cupiditate culpa illum inventore earum ratione, saepe quo praesentium odit tempora similique incidunt obcaecati voluptatibus. Eaque quod neque nihil tenetur non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque praesentium excepturi enim eveniet officia delectus explicabo qui quidem minima repudiandae, dolorum amet minus accusamus maxime, ipsa totam voluptas fuga inventore eos? Sequi accusamus cum, expedita veritatis fugit dolore corrupti incidunt ab voluptates, ipsam eos! Nobis nulla voluptates ducimus tempora fugiat iste blanditiis, veniam recusandae.</p>
            </div>
        </div>
    </div>
</body>
</html>